*{
    margin: 0;
    padding: 0;
}

div{
    margin: 0 auto;
}

a{
    text-decoration: none;
}

ul{
    list-style:none;
}

/*单行菜单*/
.daohang{
    background-color: khaki;
    width: 80%;
    height: 70px;
}

.top-menu li{
    float: left;
    line-height: 70px;
    margin: 0 20px;
    font-size: 28px;
}

/*中部*/
.middle{
    width: 80%;
    height: 1000px;
    background-color: palegreen;
}

/*文章栏*/
.txt{
    width: 70%;
    height: 980px;
    background-color: pink;
    float: left;
    margin: 5px 3px;
}

/*右侧栏*/
.r_lan{
    width: 28%;
    height: 980px;
    background-color: greenyellow;
    float: right;
    margin: 5px 3px;
}
.txt ul li span{
    font-weight:bold;
    color: cyan;

    text-align: center;
}
.txt ul li{
    display: block;
    margin: 20px 10px;
}

/*博主*/
.user_name{
    width: 90%;
    height: 320px;
    margin: 0 auto;
    background-color: slateblue;
    margin-top: 5px;
}

.user_name ul li{
    display: block;
    margin: 10px;
}

/*文章分类*/
.text-c{
    width: 90%;
    height: 320px;
    margin: 0 auto;
    background-color: seagreen;
    margin-top: 5px;
}
.text-c ul li{
    display: block;
    /*margin: 10px;*/
    height: 70px;
    width: 90%;
}
.text-c ul li h2{
    line-height: 70px;
    text-align: center;
    color: yellow;
}

/*阅读排行*/
.top{
    width: 90%;
    height: 320px;
    margin: 0 auto;
    background-color: pink;
    margin-top: 5px;
}
.top ul li{
    line-height: 70px;
    text-align: center;
    color: yellow;
}
.top ul li a{
    font-size: 20px;
    font-weight: bold;
    color: salmon;
}

/*底部*/
.bt{
    width: 80%;
    height: 150px;
    background-color: cyan;
}














